<div class="qr-container">
	<div class="qr-image-container">
		<img src="{{DataURL}}"  alt="Bitcoin Cash QR Code" class="qr-image" />
		<div class="qr-image-overlay isHidden"><img src="{{PaymentSuccessImage}}" alt="payment success indicator"></div>
	</div>
	<div class="qr-description">Scan here to pay {{ExpectedAmount}} BCH to {{PaymentAddress}}</div>
	<div class="no-autodetect-message">Payment not detected? Click <a href="{{VerifyURL}}">here</a> to manually check.</div>
</div>
