<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>{{{ErrorMessage}}}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="{{{BaseURL}}}/static/common.css" />
</head>
<body>
<div id="container">
	<div id="product-description">
		{{ErrorMessage}}
		<p class="body-text">
			Dreadfully sorry! In a perfect world, we would never see error pages on websites.
			And yet, here we are. But there's a silver lining! How about a FREE eBook to help
			ease the pain?
		</p>
		<p>
			You can get my FREE eBook "Who Chose the Books of the Bible?" by clicking
			<a href="https://beingbiblical.com/books/who-chose-the-books-of-the-bible">HERE.</a>
			<br /></br />
			<a href="https://beingbiblical.com/books/who-chose-the-books-of-the-bible">
				<img id="product-image" src="{{{BaseURL}}}/static/who-chose-the-books-of-the-bible.jpg" alt="Who Chose the Books of the Bible? [Cover]"/>
			</a>
		</p>
	</div>
</div>
</body>
</html>